.priceFilter {
  display: flex;
  flex-direction: column;
  margin-right: 48px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}
.pricesWrapper .title {
  margin-top: 0;
}
.prices {
  display: flex;
  justify-content: space-between;
}
.price {
  display: flex;
  align-items: center;
}
.price:not(:last-of-type) {
  margin-right: 16px;
}
.label {
  margin-right: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}
.button {
  width: 100%;
  height: 32px;
  margin-top: 24px;
  background-color: #323c48;
  border: 0;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  cursor: pointer;
}
.discount .label:last-of-type {
  margin-left: 8px;
}
